.hero-container{
  height:30rem;
}

.hero-container img{
  max-width: 100%;
  max-height: 100%;
}

.footer {
  background-color: var(--primary-color);
  padding: 3rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.yellow-text-colour{
  color:var(--warning-color)
}

.half-width img{
  max-width: 100%;
  max-height: 100%;
}

.random{
  width:15rem
}

.card-full-width{
  width:100% !important
}

.relative{
  position: relative;
}

.bottom-0{
  bottom:0;
}

.absolute{
  position: absolute;
}

.self-start{
  align-items: self-start;
}

.primary-colour{
  color : var(--primary-color)
}

.display-none{
  display: none;
}

.height-100vh{
  height: 100vh;
}